<header>
    <a routerLink="" class="header__title">
        ben aberg
        <span class="header__divider">/</span>
    </a>
    <nav>
        <a routerLink="" class="nav__link" routerLinkActive="nav__link--active" [routerLinkActiveOptions]= "{exact: true}">
            welcome
        </a>
        <a routerLink="projects" class="nav__link" routerLinkActive="nav__link--active">
            projects
        </a>
        <a routerLink="contact" class="nav__link" routerLinkActive="nav__link--active">
            contact
        </a>
    </nav>
</header>
<router-outlet></router-outlet>